<a href="https://colab.research.google.com/github/ihugya1/py-bootcamp-2020/blob/master/GDG_cleaned_up_workshop_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to GDG Python Bootcamp Week 1!

We'll be going to cover some basics in Python.

But before that, let's talk about the environment. This is a notebook. What you're reading now is contained in a text cell which contains documentation. You can format it in [Markdown](https://en.wikipedia.org/wiki/Markdown). 

The other type of cell is a code cell. Below with the `print('hello world')` text is a code cell. The code cell has a play button that will run that code cell. When you first open this notebook, it will take time to initialize the machine that will run the code. And, yeah, the code you have running in the code block is run in a different machine than your own (living someone in Google's infrastructure). This means that you can run Python code where you can run a browser (this can be your tablet, phone or even your PS5). 

You can add a code block or a text block with the upper left part of the UI with the +code +text area. 

Let's start off with the "Hello World"

To print out hello world in python, you simply use the print() function with the "hello world!" string as the argument:

In [ ]:
print('hello world!')

hello world!

so the code above has these basic parts:

print - this is our function. A function is a construct that incloses a piece of code. The code "inside" of a function is fairly independent from the other parts of codebase outside of it.

'hello world' - this a string. A string is a group of character. We used 'hello world' as argument to print.

The next part here is how to assign values to variables. One thing to note is that in Python everything is an object. The official definition of an object is that it's an instance of a class. This will be covered by the week 2 bootcamp team. What we can take away with this right now though is that when we assign a variable to a value, what we're really doing is that we're giving some object a name within the Python program. In the code below, we have `'hello world'` string object being given the name `an_object`. Now anywhere else in our code, the variable `an_object` will be `'hello world'`.

In [ ]:
an_object = 'hello world'
a_1_2_combo = 'punch jab'

We are working in a notebook so comments and text are usually inserted in these text blocks. But in most cases, when you are working in a standalone python application, the comments are embedded in the code. We do that by prefixing `#` before the text. We are "commenting" with text in this case. Any thing commented are not run by our interpreter.

In [ ]:
# a comment
# print('hello_world')
print('hello_world')

hello_world

### Types

In Python there are 5 basic types. 

1. Integers
2. Floats - rational numbers (float refers to [floating point](https://en.wikipedia.org/wiki/Floating-point_arithmetic))
3. Complex Numbers
4. Strings - these are words and characters. "Hello World" is an example. Can be alphanumeric and punctuations.
5. Bool - True or False
6. None - specified None type

In [ ]:
# numeric types work well with each other!
print(1 + 1.25)
print(1.25 - 1.25)

2.25
0.0

Always be aware of what types you are working with. In Python we are lucky in that the numeric types (Integers, Floats, Complex etc) knows what to do with each other. But for strings and numerics, this is not the case:

In [ ]:
'string' + 1

TypeError: ignored

In [ ]:
'12' + 1

TypeError: ignored

What we can do is to 'type cast' the value to another type. Here are some basic type casting functions that we can use:

1. int(input_string)
2. float(input_string)
3. str(input_number)

In [ ]:
int_12 = int('12') 

int_12 + 1

Just keep in mind that the input must make sense:

In [ ]:
int('one')

ValueError: ignored

To determine what types we are working with, use the `type()` function:

In [ ]:
print(1, type(1))
print('a_string', type('a string'))
print(14.0, type(14.0))
print(None, type(None))

1 <class 'int'>
a_string <class 'str'>
14.0 <class 'float'>
None <class 'NoneType'>

# Numeric Operations

Our basic operators are:
*   `+` - addition
*   `-` - subtraction
*   `*` - multiplication
*   `/` `//` - division and integer division 
*   `**` - exponentiation

These can take different types of numbers as long as they are numbers.

Some additional nice functions:
*   `abs()` - take the absolute value
*   `max()` - max of all the arguments
*   `min()` - min of all the arguements

In [ ]:
print(13 / 2)
print(13 // 2) # returns an integer
print(abs(-12))
print(1 + -2)
print(max(12,6))

6.5
6
12
-1
12

# Strings

As I've mentioned before, strings is an group of characters. Since it's group of characters, we can access each of its members or group of members. We use the `[<int>]` syntax to access them.

In [ ]:
a_string = 'abcdefg'
print(a_string[6]) # indexing in python starts at 0

g

We can even specify a subgroup. We use the slicing notation:

`'a python strong'[m:n:s]`

- `m`: start index
- `n`: end index (but not included in the slice)
- `s`: step size going the the next character in the string

In [ ]:
a_string = 'abcdefg'
a_string[0:3]
# a_string[m:n:s]
# m -> start index 
# n -> go upto nth index but not including the value at n
# s -> the size of the step from m to the next value to take

print('a_string[1:5]', a_string[1:5])
print('a_string[1:5:2]', a_string[1:5:2])

a_string = 'abcdefg'

print('a_string[-1]', a_string[-1]) # what happens with negative
print('a_string[1:]', a_string[1:]) # from index 1 until the end
print('a_string[:4]', a_string[:4]) # from index 0 (start) until but not including index 4

a_string[1:5] bcde
a_string[1:5:2] bd
a_string[-1] g
a_string[1:] bcdefg
a_string[:4] abcd

We have a few methods available to us for convinience. 


1.   `upper()` - upper case
2.   `lower()` - lower case
3.   `count()` - return length of the string
3.   `index(<substring>)` - returns index of the first occurence of <substring> returns `-1` if it doesnt find it.
3.   `index(<substring>)` - returns index of the first occurence of <substring> but raises and error if it doesn't find it.

In [ ]:
a_string = 'abcdefgabc'
print('a_string.upper()', a_string.upper())
upper_case_string = a_string.upper()
print('upper_case_string.lower()', upper_case_string.lower())
print('a_string.count(\'abc\')', a_string.count('abc'))
print('a_string.find(\'def\')', a_string.find('def'))
print('a_string.index(\'def\')', a_string.index('def')) 
print('a_string.replace(\'abc\', \'xyz\')', a_string.replace('abc', 'xyz'))

a_string.upper() ABCDEFGABC
upper_case_string.lower() abcdefgabc
a_string.count('abc') 2
a_string.find('def') 3
a_string.index('def') 3
a_string.replace('abc', 'xyz') xyzdefgxyz

When workign with strings, we can combine them with `+`:

In [ ]:
print('\'abc\' + \'def\'', 'abc' + 'def')

'abc' + 'def' abcdef

And we can interpolate other strings with using the `f` construct:

In [ ]:
first_6_alpha = 'abcdef'
print('f\'the first 6 of the alphabeth: {first_6_alpha}\'', f'the first 6 of the alphabeth: {first_6_alpha}')

f'the first 6 of the alphabeth: {first_6_alpha}' the first 6 of the alphabeth: abcdef

To receive input, we can use the `input(<prompt>)` function. This will wait until the user inputs a value to continue. The `input(<prompt>)` will always return a `string` type so remember to convert the string received to the type that you need.

In [ ]:
my_var = input('give me something:')
print(int(my_var) + 2) # my var is always a string

give me something:25
27

# Booleans and Expressions

We mention the boolean type before and it can only have two values: `True` or `False`. We also have 3 boolean operators:



1. `and`
2. `or`
3. `not`


![image.png]()

In [ ]:
print('True or False', True or False)
print('True and False', True and False)
print('not False', not False)

These comparison operators evaluates into either `True` or `False`:

1.   `==` - equality
2.   `<, <=` ->  less
3.   `>, >=` -> greater than/equal to
4.   `!=` -> not equal

We can combine these operators along with the boolean operators. We can generate fairly complicated decision logic with this. 

The combination of these operators and operands that evaluate into one value are called expressions. We can combine and compare expressions together as long as the expression evaualates to the correct type of value for the operators used.

And as with pretty much anyhting in python, the an expression is an object and can be assigned to variables

In [ ]:
one_expression = 1 == 1
other_expression = 2 == 1
print('one_expression or other_expression', one_expression or other_expression)
print('(1 == 1) or ((2 == 1) or 1 == 3)', (1 == 1) or ((2 == 1) or 1 == 3))

one_expression or other_expression True
(1 == 1) or ((2 == 1) or 1 == 3) True

We can use these expressions in an `if`-statement.

`if` statements look like this:

```
if <if expression>:
    <if block>
```

if the expression `<if expression>` evaluates to `True`, the `<if block>` code will execute. 

You can extend the `if` expression with the `else` keyword and `elif` keyword.

```
if <if expression>:
    <if block>
elif <elif expression>:
    <elif block>
else <else expression>:
    <else block>
```

If the `<if expression>` evaluates to `False`, python will then check the `<elif expression>` and if this is `True` the `<elif block>` will execute and python exits the `if` statement if not, it will go finally to the `else` block and the `<else block>` code is executed.

We can have more than one `elif` and they will be executed in sequence. We can only have one `if` and one `else` in a `if` statement.

In [ ]:
if 1 == 2:
  print('this is true')
elif 2 > 3:
  print('this is again true')
elif 2 > 1:
  print('this is once again true')
else:
  print('this is false')

this is once again true

If you're using the `if` statement to assign a value, there is the ternary operator which is a one liner.

`value = <true value> if <if expression> else <false value>`

If the`<if expression>` is `True` the ternery expression evaluates to the `<true value>`, if `False` then the `<false value>`

In [ ]:
# this statement:

a_number = 1
a_value = 2 if a_number > 3 else 1

# is equivalent to:


a_value = None
if a_number > 3:
  a_value = 2
else:
  a_value = 1

print(a_value)

1

# Example fahrenheit to celsius converter

We'll make a converter that takes fahreiheit then returns you celsius. 

We have a formulas and we'll convert it into a working program:

*   `Fahrenheit = Celsius * 1.8 + 32`
*   `Celsius = (Fahrenheit - 32/1.8)` - moved around the celsius variable

In [ ]:
# Let's take the input from the user. Since input returns a string, make sure we convert it to float()
fahrenheit = float(input('enter your temp (in fahrenheit):'))

# notice that this is the formula we have above.
celsius = ((fahrenheit - 32)/1.8)
# we'll round the value so we only have 2 decimal points
celsius = round(celsius, 2)

# then print the result. We use the f string which is pretty much template strings from javascript.
print(f'The current temperature {celsius}°C')

enter your temp (in fahrenheit):40
The current temperature 4.44°C


# Example: centimeters to feet and inches

This is a bit more complicated as there are a few different formalas that we need to use:

So to get the inches count we need to use these two formulas:
- `1 inch = 2.54 cm`
- `1 foot = 12 inches`

When we have the inches equivalent, we have to get the feet measurment:

- `feet = inches/12`

Then use the remain to get the remaining inches value:

- `inches_remainder = inches/12 remainder of this operation`

In [ ]:
# remember we need to convert the input to float
cm_measure = float(input('enter your height (in cm):'))

# cm to inches
inches = cm_measure/2.54

# use the // division operator so it returns the integer part of the division (not the fractional)
feet = inches//12 # just the whole number part

#this is the remainder value so the inches value in ft and inches. round to 0 decimal points, 0 is the default
inches_remainder = round(inches % 12)


print(f'{feet} ft {inches_remainder} in')

enter your height (in cm):175
5.0 ft 9 in

# Basic Data Structures

In python we have 3 basic data structures:

1.   List
2.   Tuple
3.   Dictionary

In [ ]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_dictionary = {
    'one': 1,
    'two': 2,
    'three': 3,
}

A list is a data structure that can expand and contract. You can include any kind of data in it (even a list or the other structures). 

The list works very much like a string but the way you define it is with the `[]` construct. 

We can use the slicing operations to access sub lists (like the way we do it with a string)

Some convinienet methods to use with lists:

- `append(<val>)` - put `<val>` at the end of the string
- `insert(<index>, <val>)` - put `<val>` at index `<index>`

and we can use the `len(<list>)` function to get the length of the list.

In [ ]:
a_list = [1,2,3,4,5]

a_list.append(6)
print(a_list)

print('a_list + [7, 8, 9]', a_list + [7, 8, 9])

# slicing like a string
print('a_list[1:4]', a_list[1:4])

# insert works as well
a_list.insert(0, 0)
print(a_list)
print('len(a_list)', len(a_list))

[1, 2, 3, 4, 5, 6]
a_list + [7, 8, 9] [1, 2, 3, 4, 5, 6, 7, 8, 9]
a_list[1:4] [2, 3, 4]
[0, 1, 2, 3, 4, 5, 6]
len(a_list) 7

A tuple is very similar to a list, but you can't change the values of the tuple after you've created it (immutable)

Changing the a value in the tuple or extending it will raise an error.

In [ ]:
a_tuple = (1,2,3)
new_tuple = a_tuple + (4, 5, 6)
print(new_tuple)
print(a_tuple)
new_tuple[1:4]

(1, 2, 3, 4, 5, 6)
(1, 2, 3)

(2, 3, 4)

The dictionary is a data structure that is mainly used for easy and fast lookup. Each value in the dictionary has a key, and the key is what we use to access the data. 

We use the `{}` to create a dictionary. We can store any type of data in a dictionary. In Javascript, the closest analogue is a basic javascript object.

In [ ]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_dictionary = {
    'one': 1,
    'two': 2,
    'three': 3,
    'a_list': a_list,
    'a_tuple': a_tuple,
    'another_dict': {
        'a': 'A',
        'b': 'B'
    }
}

a_dictionary

{'a_list': [1, 2, 3, 4, 5],
 'a_tuple': (1, 2, 3, 4, 5),
 'another_dict': {'a': 'A', 'b': 'B'},
 'one': 1,
 'three': 3,
 'two': 2}

# Loops

We have two basic mechanisms to loop with python:

`while` loops and `for` loops

You can use these loops to iterate through the data structures and strings.

The `while` loop looks like this:

```
while <while expression>:
    <while block>
```

The `<while expression>` is important to get right. As logn as the `<while expression>` is `True` the `while` loop will run. So make sure that in the `<while block>` the `<while expression>` gets updated.

You can easily go infinite loop with the `while` loop if you are not careful.

In [ ]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_string = 'a string'

index = 0
while index < 4:
  print(a_list[index])
  index = index + 1 # index += 1 -> index = index + 1

1
2
3
4
--------
1
2
3
4
5

A `for` is safer but you will need a data structure that you can iterate through.

A `for` loop looks like this:

```
for <variable name> in <data structure>:
    <for block>
```

The `for` loop takes a value one by one from the `<data structure>` and assigns the name `<variable name>` to it. In the` <for block>` you can refereance that variable with the `<variable name>`

In [ ]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_string = 'a string'


print('--------')
for an_value in a_list:
  print(an_value)

With dictionaries, there are a few ways to extract the data:

1. use the `for` loop directly - you will get the key from the `for` loop
2. use `dictionary.values()` - you will get the values of behind the keys from the for loop
3. use `a_dictionary.items()` - you will get a `tuple` of `(key, value)`. You then use `,` to delimit them so can access them seperately.

In [ ]:
a_dictionary = {
    'one': 1,
    'two': 2,
    'three': 3,
}

print('---- key ----')
# ordinary iteration
for key in a_dictionary:
  print(key)

print('---- val ---')
# values iteration
for value in a_dictionary.values():
  print(value)

# key and value iteration
print('---- key, val ---')
for key, value in a_dictionary.items():
  print(key, value)

---- key ----
one
two
three
---- val ---
1
2
3
---- key, val ---
one 1
two 2
three 3

# Functions

A function is a piece of code that has it's own domain. You can define variables in it and the outside of the function won't have access to it. We can use them to isolate logic and reuse them in other places in the code base.

A function looks like this:

```
def <func name>(<argument list>):
    <function block>
```

the argument list is seperated by a `,`. To return a value we must use the `return` key word in the `<function block>`. Anything after the `<return>` will not be run. 

A function evaluates to its return value. If there function does not explicitly return anything then it'll be `None`

In [ ]:
input_a = 5
input_b = 3

def example(value_a, value_b):
  input_a = value_a + value_b
  input_b = value_a - value_b
  return input_a + input_b

# we used input_a and input_b in the function and it didn't affect the input_a
# and input_b outside it

print('example(1, 2)', example(1, 2))
print('input_a', input_a)
print('input_b', input_b)

print('example(input_a, input_b)', example(input_a, input_b))

example(1, 2) 2
input_a 5
input_b 3
example(input_a, input_b) 10

To return multiple values, you delimit them with the `,`.

In [ ]:
def example_2(input_a, input_b):
  return input_a, input_b # is a tuple  -> return (input_a, input_b)

# unpacking
some_a, some_b = example_2(1, 2)
print(some_a)
print(some_b)

1
2

We can define default values to function. We call these keyword arguments, and to add them, we define the name of the argument and assign it a value in the when add them in the arguments list:

In [ ]:
def example(input_a, input_b=0, input_c=1):
  return (input_a + input_b) * input_c


print(example(0)) # successor -> n => n+1
print(example(0, input_b=2)) # additional
print(example(5, input_c=3)) # multiplication
print(example(1, input_b=2, input_c=3))

0
2
15
9

Functions are very versatile. We can even call the function within itself. This is called recursion. Recursion is another way of "looping" but you have to be careful defining the exit of the function.

A recursion has two parts:

1. base case
2. recursion case

The base case is the piece of code that terminates the recursion (the logic the calls the `return` keyword)

The recursion case the the step where the function is called again.

Below, we loop through a list using recursion:

In [ ]:
a_list = [1,2,3,4,5]

def for_loop(input_list, index=0):
  if len(input_list) == index:
    return
  print(input_list[index])
  for_loop(input_list, index=index+1)


for_loop(a_list)

1
2
3
4
5

One last thing with functions: As with everything in python, a function is just another object and can be assigned to a variable. The `def` construct explicitly asks us for a name. We have another construct to build functions called `lambda` which doesn't give a function a name. We can assign a lambda expression to variable and pass around the function.

In [ ]:
lambda x, y: x + y
# equivalent
def some_fun(x, y):
  return x + y

a_nameless_func = lambda x: x +1
def some_func_2(x):
  return x + 1

print(some_func_2(1))
print(a_nameless_func(1))

2
2

And as said before, since functions are objects we can use them as arguments to functions:

In [ ]:
def func_runner(func_input):
  func_input(1)

some_func = lambda x: print(x+1)

some_func(1)
func_runner(some_func)

2
2

# Errors and Exceptions

We don't always make perfect code so errors are bound to happen. In python, programming errors occur in a very specific way. These usually come as an `Exception`. 

When we expect a function or a code block to fail, we can use a `try-except` block.

The `try-except` block looks like this:

```
try:
   <code block>
except <exception list>:
   <exception block>
```

When an error occurs in the `<code block>` depending if the type of error is specified in `<exception list>` then the `<exception block>` will run. 

`<exception list>` is optional, and if it's not defined, it will catch every type of exception. This is in general not a good idea as it will make debugging very hard.

In [ ]:
some_func = lambda x: print(x+1)

try:
  some_func()
except TypeError:
  print('You\'re missing your argument')

You're missing your argument

There are several types of exceptions:


1. `ValueError`
2. `TypeError`
3. `AttributeError`

Many more are defined, and you can use the error data to catch specific errors.

In [ ]:

def a_failing_function(some_number):
  internal_list = [1,2,3,4,5]
  return internal_list.index(some_number)

try:
  a_failing_function(6)
except ValueError:
  print('we dont have that number')

# ValueError
# TypeError
# AttributeError

we dont have that number

`<exception list>` is defined as tuple:

In [ ]:
def this_one_always_complains():
  raise AttributeError


try:
  this_one_always_complains()
except (AttributeError, ValueError):
  print('we good')

we good

The exception is also an object. To access it we use the `as` keyword.

Note: when you put the error into a string (through string interpolation), the python puts the error message as it's string representation.

In [ ]:
def a_failing_function(some_number):
  internal_list = [1,2,3,4,5]
  return internal_list.index(some_number)

try:
  a_failing_function(6)
except ValueError as error:
  print(f'we dont have that number (error: {error})')

we dont have that number (error: 6 is not in list)

# Example To do list

With loops, functions and the data structures we can build a todo list program.

We'll use lists to store the todo list and we'll use a few different functions to split the functionality then run a loop to take the input indefinitely.

The split:

1. `add_to_list` add an item to the todo list
2. `remove_from_list` remove an item matching the entry - make sure if the entry is not there that this function doesn't fail
3. `what_am_i_suppose_todo` list all the items in the to do list
4. `while` loop that runs indefinitely accepting input

In [ ]:
our_todo_list = []

# take an item and add it into the list
def add_to_list(item, item_list):
  if item not in item_list: # in checks for membership
    sitem_list.append(item.lower())

# remove an item that matches the item input in a list
def remove_from_list(item, item_list):
  try:
    item_list.remove(item)
  except ValueError:
    print('you\'re not doing that yet')

# print out the list using a for loop
def what_am_i_suppose_todo(item_list):
  for item in item_list:
    print(item)

# while True means this runs forever
while True:
  new_task = input('thing I want to do: ')
  # if the input is `delete_item` then we ask the user
  # another input to call the delete functionality
  if new_task == 'delete_item':
    to_delete = input('what should I remove?: ')
    remove_from_list(to_delete, our_todo_list)
  else:
    add_to_list(new_task, our_todo_list)

  # with every operation we print out our list
  what_am_i_suppose_todo(our_todo_list)